@charset "UTF-8";
/* varibles de colores para fondos */
/* Variables de colores para tipografías */
/* Placeholder de objetos */
.flex-head .flex-head-1 .moon, .flex-head .flex-head-2 .moon, .flex-head .flex-head-1 .bottle, .flex-head .flex-head-2 .bottle, .flex-head .flex-head-1 .pacifier, .flex-head .flex-head-2 .pacifier, .flex-head .flex-head-1 .duck, .flex-head .flex-head-2 .duck {
  height: 12rem;
  animation: anima-object linear infinite;
  transform-origin: center top; }

.poster-left .morning-left .button-left, .poster-right .night-right .button-right {
  font-family: 'Marck Script', cursive;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer; }

/* Estilos para el fondo de la pagína web */
body {
  overflow-x: hidden; }

.background {
  display: flex;
  background-color: #93c5fd;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0; }
  .background .cloud-1 {
    top: 2vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 10s;
    width: 6rem;
    position: absolute; }
  .background .cloud-2 {
    top: 10vh;
    left: -300px;
    animation: anima-cloud linear infinite;
    animation-duration: 20s;
    width: 12rem;
    position: absolute; }
  .background .cloud-3 {
    top: 15vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 15s;
    width: 6rem;
    position: absolute; }
  .background .cloud-4 {
    top: 35vh;
    left: -300px;
    animation: anima-cloud linear infinite;
    animation-duration: 30s;
    width: 12rem;
    position: absolute; }
  .background .cloud-5 {
    top: 25vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 12s;
    width: 6rem;
    position: absolute; }
  .background .cloud-6 {
    top: 70vh;
    left: -300px;
    animation: anima-cloud linear infinite;
    animation-duration: 24s;
    width: 12rem;
    position: absolute; }
  .background .cloud-7 {
    top: 40vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 50s;
    width: 4rem;
    position: absolute; }
  .background .cloud-8 {
    top: 55vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 32s;
    width: 7rem;
    position: absolute; }
  .background .cloud-9 {
    top: 65vh;
    left: -300px;
    animation: anima-cloud linear infinite;
    animation-duration: 20s;
    width: 10rem;
    position: absolute; }
  .background .cloud-10 {
    top: 90vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 56s;
    width: 5rem;
    position: absolute; }

@keyframes anima-cloud {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(120vw); } }

/* Estilos para la tarjeta de invitación */
.card {
  background-color: #f1f2f2;
  padding-bottom: 6.75rem;
  padding-top: 4.95rem;
  border: 3px dashed #61bad1;
  outline: 15px solid #f1f2f2;
  position: relative;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  margin-bottom: 6rem;
  overflow: hidden; }
  .card .t-1 {
    font-family: 'Marck Script', cursive;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #fca5a5; }
  .card .t-2 {
    font-family: 'Marck Script', cursive;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #a78bfa; }
  .card .p-1 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin-top: 2.7rem;
    margin-bottom: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 600;
    line-height: 1.3rem;
    color: #61bad1; }
  .card .p-2 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin-top: .7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 600;
    line-height: 1.3rem;
    color: #61bad1; }
  .card .p-3 {
    font-family: 'Josefin Slab', serif;
    text-align: right;
    margin-top: 1.6rem;
    margin-right: 2rem;
    margin-bottom: .8rem;
    font-weight: 600;
    color: #61bad1; }
  .card .st-1 {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
    color: #a78bfa; }
  .card .st-2 {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
    color: #fca5a5; }
  .card .sp-1 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #61bad1; }
    .card .sp-1 .span {
      font-family: 'Open Sans', sans-serif;
      font-size: .95rem; }

@media screen and (min-width: 640px) {
  .card {
    width: 12rem;
    padding: 5.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25rem; } }

@media screen and (min-width: 768px) {
  .card {
    width: 15rem;
    padding: 4.95rem;
    padding-bottom: 6.45rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25rem; } }

@media screen and (min-width: 1024px) {
  .card {
    width: 20rem;
    padding: 4.95rem;
    padding-bottom: 6.45rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25rem; } }

@media screen and (min-width: 1280px) {
  .card {
    width: 25rem;
    padding: 4.95rem;
    padding-bottom: 6.45rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25rem; } }

@media screen and (min-width: 1536px) {
  .card {
    width: 30rem;
    padding: 4.95rem;
    padding-bottom: 6.45rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25rem; } }

/* Estilos para los objetos colgantes */
.flex-head {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 0; }
  .flex-head .flex-head-1, .flex-head .flex-head-2 {
    display: flex;
    width: 25%;
    justify-content: space-around; }
    .flex-head .flex-head-1 .moon, .flex-head .flex-head-2 .moon {
      animation-duration: 12s; }
    .flex-head .flex-head-1 .bottle, .flex-head .flex-head-2 .bottle {
      animation-duration: 15s;
      margin: -2rem; }
    .flex-head .flex-head-1 .pacifier, .flex-head .flex-head-2 .pacifier {
      animation-duration: 13s;
      margin: -2rem; }
    .flex-head .flex-head-1 .duck, .flex-head .flex-head-2 .duck {
      animation-duration: 12s; }

@keyframes anima-object {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(35deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-35deg); }
  100% {
    transform: rotate(0deg); } }

/* Estilos para los cartelitos rosados */
.poster-left {
  position: fixed;
  bottom: 0;
  left: 0; }
  .poster-left .poster-left-1 {
    width: 9rem;
    transform: rotate(52deg);
    vertical-align: middle;
    margin-left: -25px;
    margin-bottom: 5px; }
  @media screen and (min-width: 640px) {
    .poster-left .poster-left-1 {
      width: 13rem;
      margin-left: -36px;
      margin-bottom: 10px; } }
  .poster-left .morning-left {
    position: absolute;
    left: 2.5rem;
    top: 3.5rem;
    transform: rotate(40deg); }
  @media screen and (min-width: 640px) {
    .poster-left .morning-left {
      left: 4.2rem;
      top: 5rem; } }

.poster-right {
  position: fixed;
  bottom: 0;
  right: 0; }
  .poster-right .poster-right-1 {
    width: 8rem;
    vertical-align: middle;
    margin-bottom: -25px; }
  @media screen and (min-width: 640px) {
    .poster-right .poster-right-1 {
      width: 12rem;
      margin-left: -36px;
      margin-bottom: -25px; } }
  .poster-right .night-right {
    position: absolute;
    left: 1.9rem;
    top: 2.5rem;
    transform: rotate(-40deg); }
  @media screen and (min-width: 640px) {
    .poster-right .night-right {
      left: 1.8rem;
      top: 4.2rem; } }

/* Final del proyecto */