@charset "UTF-8";
/* varibles de colores para fondos */
/* Variables de colores para tipografías */
/* Estilos para el fondo de la pagína web */
body {
  overflow-x: hidden; }

.background {
  display: flex;
  background-color: #93c5fd;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

.cloud-1 {
  top: 2vh;
  left: -200px;
  animation: anima-cloud linear infinite;
  animation-duration: 10s;
  width: 6rem;
  position: absolute; }

.cloud-2 {
  top: 10vh;
  left: -300px;
  animation: anima-cloud linear infinite;
  animation-duration: 20s;
  width: 12rem;
  position: absolute; }

.cloud-3 {
  top: 15vh;
  left: -200px;
  animation: anima-cloud linear infinite;
  animation-duration: 15s;
  width: 6rem;
  position: absolute; }

.cloud-4 {
  top: 35vh;
  left: -300px;
  animation: anima-cloud linear infinite;
  animation-duration: 30s;
  width: 12rem;
  position: absolute; }

.cloud-5 {
  top: 25vh;
  left: -200px;
  animation: anima-cloud linear infinite;
  animation-duration: 12s;
  width: 6rem;
  position: absolute; }

.cloud-6 {
  top: 70vh;
  left: -300px;
  animation: anima-cloud linear infinite;
  animation-duration: 24s;
  width: 12rem;
  position: absolute; }

.cloud-7 {
  top: 40vh;
  left: -200px;
  animation: anima-cloud linear infinite;
  animation-duration: 50s;
  width: 4rem;
  position: absolute; }

.cloud-8 {
  top: 55vh;
  left: -200px;
  animation: anima-cloud linear infinite;
  animation-duration: 32s;
  width: 7rem;
  position: absolute; }

.cloud-9 {
  top: 65vh;
  left: -300px;
  animation: anima-cloud linear infinite;
  animation-duration: 20s;
  width: 10rem;
  position: absolute; }

.cloud-10 {
  top: 90vh;
  left: -200px;
  animation: anima-cloud linear infinite;
  animation-duration: 56s;
  width: 5rem;
  position: absolute; }

@keyframes anima-cloud {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(120vw); } }

/* Estilos para la tarjeta de invitación */
.card {
  background-color: #f1f2f2;
  padding: 5.2rem;
  padding-bottom: 6.8rem;
  border: 3px dashed #61bad1;
  outline: 15px solid #f1f2f2;
  position: relative;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  overflow: hidden; }

.t-1 {
  font-family: 'Marck Script', cursive;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: #fca5a5; }

.t-2 {
  font-family: 'Marck Script', cursive;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: #a78bfa; }

.p-1 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  margin-top: 2.7rem;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: 600;
  line-height: 1.3rem;
  color: #61bad1; }

.p-2 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  margin-top: .7rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: 600;
  line-height: 1.3rem;
  color: #61bad1; }

.p-3 {
  font-family: 'Josefin Slab', serif;
  text-align: right;
  margin-top: 1.6rem;
  margin-right: 2rem;
  margin-bottom: .8rem;
  font-weight: 600;
  color: #61bad1; }

.st-1 {
  font-family: 'Marck Script', cursive;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
  color: #a78bfa; }

.st-2 {
  font-family: 'Marck Script', cursive;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
  color: #fca5a5; }

.sp-1 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #61bad1; }
  .sp-1 .span {
    font-family: 'Open Sans', sans-serif;
    font-size: .95rem; }

/* Estilos para los objetos colgantes */
.flex-head {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 0; }
  .flex-head .flex-head-1, .flex-head .flex-head-2 {
    display: flex;
    width: 25%;
    justify-content: space-around; }
    .flex-head .flex-head-1 .moon, .flex-head .flex-head-2 .moon {
      height: 12rem;
      animation: anima-object linear infinite;
      animation-duration: 12s;
      transform-origin: center top; }
    .flex-head .flex-head-1 .bottle, .flex-head .flex-head-2 .bottle {
      height: 12rem;
      animation: anima-object linear infinite;
      animation-duration: 15s;
      transform-origin: center top;
      margin: -2rem; }
    .flex-head .flex-head-1 .pacifier, .flex-head .flex-head-2 .pacifier {
      height: 12rem;
      animation: anima-object linear infinite;
      animation-duration: 13s;
      transform-origin: center top;
      margin: -2rem; }
    .flex-head .flex-head-1 .duck, .flex-head .flex-head-2 .duck {
      height: 12rem;
      animation: anima-object linear infinite;
      animation-duration: 12s;
      transform-origin: center top; }

@keyframes anima-object {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(35deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-35deg); }
  100% {
    transform: rotate(0deg); } }
