$color-1: rgb(147, 197, 253);

body {
    overflow-x: hidden;
}

.background {
    display: flex;
    background-color: $color-1;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}