$color-background-1: rgb(147, 197, 253);
$color-background-2: #f1f2f2;
$color-border: #61bad1;
$color-tittle-1: rgb(252, 165, 165);
$color-tittle-2: rgb(167, 139, 250);

body {
    overflow-x: hidden;
}

.background {
    display: flex;
    background-color: $color-background-1;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.cloud-1 {
    top: 2vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 10s;
    width: 6rem;
    position: absolute;
}

.cloud-2 {
    top: 10vh;
    left: -300px;
    animation: anima-cloud linear infinite;
    animation-duration: 20s;
    width: 12rem;
    position: absolute;
}

.cloud-3 {
    top: 15vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 15s;
    width: 6rem;
    position: absolute;
}

.cloud-4 {
    top: 35vh;
    left: -300px;
    animation: anima-cloud linear infinite;
    animation-duration: 30s;
    width: 12rem;
    position: absolute;
}

.cloud-5 {
    top: 25vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 12s;
    width: 6rem;
    position: absolute;
}

.cloud-6 {
    top: 70vh;
    left: -300px;
    animation: anima-cloud linear infinite;
    animation-duration: 24s;
    width: 12rem;
    position: absolute;
}

.cloud-7 {
    top: 40vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 50s;
    width: 4rem;
    position: absolute;
}

.cloud-8 {
    top: 55vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 32s;
    width: 7rem;
    position: absolute;
}

.cloud-9 {
    top: 65vh;
    left: -300px;
    animation: anima-cloud linear infinite;
    animation-duration: 20s;
    width: 10rem;
    position: absolute;
}

.cloud-10 {
    top: 90vh;
    left: -200px;
    animation: anima-cloud linear infinite;
    animation-duration: 56s;
    width: 5rem;
    position: absolute;
}

@keyframes anima-cloud {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(120vw);
    }
}

.card {
    background-color: $color-background-2;
    padding: 5.5rem;
    border: 3px dashed $color-border;
    outline: 15px solid $color-background-2;
    position: relative;
    width: 29rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    overflow: hidden;
}

.t-1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: $color-tittle-1;
}

.t-2 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: $color-tittle-2;
}

.p-1 {
    text-align: center;
    margin-top: 2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: $color-border;
}

.p-2 {
    text-align: center;
    margin-top: 2rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-top: 1rem;
    color: $color-border;
}

.p-3 {
    text-align: right;
    margin-top: 2rem;
    margin-right: 1.5rem;
    font-weight: 600;
    color: $color-border;
}

.st-1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
    color: $color-tittle-2;
}

.st-2 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
    color: $color-tittle-1;
}

.sp-1 {
    text-align: center;
    margin-top: 0;
    color: $color-border;
}